@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;

}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 17px;
    height: 500px;
    max-width: 400px;
    box-shadow: 2px 2px 8px rgb(197, 200, 240);
    padding: 20px;
    border-radius: 10px;
}
.card img{
   width: 400px;
   height: 250px;
   border-radius: 10px;
}
.card button{
    border: none;
    height: 40px;
    background: transparent;
    background-color: blue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border-radius: 10px;
}
.card1 button{
    padding: 5px;
    width: 100px;
}
.card2 button{
  background-color: rgb(225, 51, 80);
  width: 150px;
}
.card3 button{
  background-color: #FCD704;
  width: 140px;
}